<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <caption>Autopark</caption>
    <tr>
        <th>Id</th>
        <th>Year</th>
        <th>Mileage km</th>
        <th>Price $</th>
    </tr>
    <tr th:each="vehicle : ${vehicles}">
        <th th:text="${vehicle.getId()}">value</th>
        <th th:text="${vehicle.getYear()}">value</th>
        <th th:text="${vehicle.getMileage()}">value</th>
        <th th:text="${vehicle.getPrice()}">value</th>
    </tr>
</table>
</body>
</html>