<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto-Park</title>
</head>
<body>
<table cellspacing = "10">
    <caption>Auto-Park</caption>
    <tr>
        <th>Id</th>
        <th>Year</th>
        <th>Mileage</th>
        <th>Price</th>
        <th>Brand</th>
    </tr>
    <tr th:each="vehicle : ${vehicles}">
        <th><a th:href="@{/vehicles/{id}(id=${vehicle.getId()})}" th:text="${vehicle.getId()}">VALUE</a></th>
        <th th:text="${vehicle.getYear()}">VALUE</th>
        <th th:text="${vehicle.getMileage()} + ' km'">VALUE</th>
        <th th:text="${vehicle.getPrice()} + '$'">VALUE</th>
        <th th:text="${vehicle.getBrand().getBrandName()}">VALUE</th>
    </tr>
</table>
<hr/>
<form method="GET" action="/vehicles/new">
    <input type="submit" value="Add vehicle" />
</form>
</body>
</html>